@page "/error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error</h1>
@if (ShowRequestId)
{
    <span>
        Request ID:
        <code>@RequestId</code>
    </span>
}

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}