@attribute [Authorize]
@attribute [StudentRequired]
@page "/Admin"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject StudueContext StudueContext;

<section>
    <h2>Overview</h2>

    <div>
        <p>Students: <b>@_studentCount</b> </p>
        <p>Modules: <b>@_moduleCount</b></p>
        <p>Module instances: <b>@_moduleInstanceCount</b></p>
        <p>Assignments: <b>@_assignmentCount</b></p>
    </div>
</section>

@code {
    private int _studentCount;
    private int _moduleCount;
    private int _moduleInstanceCount;
    private int _assignmentCount;

    protected override async Task OnInitializedAsync()
    {
        _studentCount = await StudueContext.Students.CountAsync();
        _moduleCount = await StudueContext.Modules.CountAsync();
        _moduleInstanceCount = await StudueContext.ModuleInstances.CountAsync();
        _assignmentCount = await StudueContext.Assignements.CountAsync();
    }
}
