@attribute [Authorize]
@attribute [StudentRequired]
@page "/admin/incidents"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@inject StudueContext StudueContext;
@rendermode InteractiveServer

<section>
    <h2>Incidents</h2>

    <div>
        <table>
            <thead>
            <th>DateTime</th>
            <th>UserId</th>
            <th>Description</th>
            <th>StackTrace</th>
            </thead>
            <tbody>
            @foreach (var incident in _incidents)
            {
                <tr>
                    <td>@incident.DateTime</td>
                    <td>@incident.UserId</td>
                    <td>@incident.Description</td>
                    <td>@incident.StackTrace</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>

@code {
    private List<Incident> _incidents = new();

    protected override async Task OnInitializedAsync()
    {
        _incidents = await StudueContext.Incidents.ToListAsync();
    }
}