@page "/Admin/Modules"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@attribute [Authorize]
@attribute [StudentRequired]
@layout AdminLayout
@inject StudueContext StudueContext;
@rendermode InteractiveServer

<section>
    <h2>Modules</h2>

    <div>
        <table>
            <thead>
                <th>Code</th>
                <th>Name</th>
                <th>Instance Count</th>
            </thead>
            <tbody>
            @foreach (var module in _modules)
            {
                <tr>
                    <td><a href="/admin/modules/@(module.Code)">@module.Code</a></td>
                    <td>@module.Name</td>
                    <td>@module.ModuleInstances.Count</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>

@code {
    private List<Module> _modules = new();

    protected override async Task OnInitializedAsync()
    {
        _modules = await StudueContext.Modules.Include(x => x.ModuleInstances).ToListAsync();
    }
}
