@page "/Admin/Students"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Studue.Services
@inject StudueContext StudueContext;
@attribute [StudentRequired]
@attribute [Authorize]
@rendermode InteractiveServer
@layout AdminLayout

<section>
    <h2>Students</h2>

    <div>
        <table>
            <thead>
            <th>StudentID</th>
            <th>Class</th>
            <th>IsAdmin</th>
            <th>IsBanned</th>
            <th>Write Token</th>
            <th>Impersonate</th>
            </thead>
            <tbody>
            @foreach (var student in _students)
            {
                var impersonateCall = $"impersonate(\"{student.StudentId}\", \"{student.WriteToken}\")";

                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Class</td>
                    <td><input type="checkbox" @bind="student.IsAdmin" @bind:after="Changed"></td>
                    <td><input type="checkbox" @bind="student.IsBanned" @bind:after="Changed"></td>
                    <td>@student.WriteToken <button @onclick="async () => await RegenerateToken(student)">Regenerate</button></td>
                    <td><button onclick="@impersonateCall" >Impersonate</button></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>

<script>
function impersonate(studentId, writeToken) {
    window.location.href = `/?student_id=${encodeURIComponent(studentId)}&write_token=${encodeURIComponent(writeToken)}`;
}
</script>

@code {
    private List<Student> _students = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshStudents();
    }

    private async Task RefreshStudents()
    {
        _students = await StudueContext.Students.ToListAsync();
    }

    private async Task Changed()
    {
        await StudueContext.SaveChangesAsync();
    }

    private async Task RegenerateToken(Student student)
    {
        student.WriteToken = StudentContext.GenerateWriteToken();
        await StudueContext.SaveChangesAsync();

        await RefreshStudents();
    }
}
