<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="icon" href="favicon.png" />
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Studue.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
@* <ReconnectModal/> *@
<script src="@Assets["_framework/blazor.web.js"]"></script>

<script>
    function clearQuery(){
        if (window.location.search.length > 0) {
            const url = new URL(window.location.href);
            url.searchParams.delete("write_token");
            url.searchParams.delete("student_id");
            window.history.replaceState({}, '', url);
        }
    }

    Blazor.addEventListener('enhancedload', clearQuery);

    clearQuery();
</script>
</body>

</html>